name: Sync to Codeberg

on:
  push:
    branches:
      - '**'
  delete:
  create:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync to Codeberg
        uses: wangchucheng/git-repo-sync@v0.1.0
        with:
          # Your specific target URL
          target-url: https://codeberg.org/ThomasNowProductions/Flick.git
          
          # Your Codeberg username
          target-username: ThomasNowProductions
          
          # The secret you must create in GitHub Settings
          target-token: ${{ secrets.CODEBERG_TOKEN }}